# Milestone 2
---

## Data set cleaning

In [52]:
import pandas as pd
import math

In [53]:
df = pd.read_csv("../data/raw/Kepler_Exoplanet_Search_Results.csv")
df

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,-152.0,4.296,0.231,-0.189,1.088,0.313,-0.228,298.74921,46.973351,14.478
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,-166.0,4.529,0.035,-0.196,0.903,0.237,-0.079,297.18875,47.093819,14.082
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,-220.0,4.444,0.056,-0.224,1.031,0.341,-0.114,286.50937,47.163219,14.757
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,-236.0,4.447,0.056,-0.224,1.041,0.341,-0.114,294.16489,47.176281,15.385
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,-225.0,4.385,0.054,-0.216,1.193,0.410,-0.137,297.00977,47.121021,14.826

In [54]:
# remove uncertainty columns
df.drop(columns=["koi_period_err1", "koi_period_err2", "koi_time0bk_err1", "koi_time0bk_err2", "koi_impact_err1", "koi_impact_err2", "koi_duration_err1", "koi_duration_err2",
                "koi_depth_err1", "koi_depth_err2", "koi_prad_err1", "koi_prad_err2", "koi_teq_err1", "koi_teq_err2", "koi_insol_err1", "koi_insol_err2", "koi_steff_err1",
                "koi_steff_err2", "koi_slogg_err1", "koi_slogg_err2", "koi_srad_err1", "koi_srad_err2"], inplace=True)
df

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_insol,koi_model_snr,koi_tce_plnt_num,koi_tce_delivname,koi_steff,koi_slogg,koi_srad,ra,dec,koi_kepmag
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,93.59,35.8,1.0,q1_q17_dr25_tce,5455.0,4.467,0.927,291.93423,48.141651,15.347
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,9.11,25.8,2.0,q1_q17_dr25_tce,5455.0,4.467,0.927,291.93423,48.141651,15.347
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,39.30,76.3,1.0,q1_q17_dr25_tce,5853.0,4.544,0.868,297.00482,48.134129,15.436
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,891.96,505.6,1.0,q1_q17_dr25_tce,5805.0,4.564,0.791,285.53461,48.285210,15.597
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,926.16,40.9,1.0,q1_q17_dr25_tce,6031.0,4.438,1.046,288.75488,48.226200,15.509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,176.40,8.4,1.0,q1_q17_dr25_tce,5638.0,4.296,1.088,298.74921,46.973351,14.478
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,4500.53,453.3,1.0,q1_q17_dr25_tce,5638.0,4.529,0.903,297.18875,47.093819,14.082
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,1585.81,10.6,1.0,q1_q17_dr25_tce,6119.0,4.444,1.031,286.50937,47.163219,14.757
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,5713.41,12.3,1.0,q1_q17_dr25_tce,6173.0,4.447,1.041,294.16489,47.176281,15.385
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,607.42,8.2,1.0,q1_q17_dr25_tce,6469.0,4.385,1.193,297.00977,47.121021,14.826

In [55]:
# remove columns that are not going to be used
df.drop(columns=["koi_kepmag", "koi_model_snr", "koi_tce_plnt_num", "koi_tce_delivname", "koi_insol", "koi_impact"], inplace=True)
df

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_time0bk,koi_duration,koi_depth,koi_prad,koi_teq,koi_steff,koi_slogg,koi_srad,ra,dec
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,170.538750,2.95750,615.8,2.26,793.0,5455.0,4.467,0.927,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,162.513840,4.50700,874.8,2.83,443.0,5455.0,4.467,0.927,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,175.850252,1.78220,10829.0,14.60,638.0,5853.0,4.544,0.868,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,170.307565,2.40641,8079.2,33.46,1395.0,5805.0,4.564,0.791,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,171.595550,1.65450,603.3,2.75,1406.0,6031.0,4.438,1.046,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,132.016100,4.80600,87.7,1.11,929.0,5638.0,4.296,1.088,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,131.705093,3.22210,1579.2,29.35,2088.0,5638.0,4.529,0.903,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,133.001270,3.11400,48.5,0.72,1608.0,6119.0,4.444,1.031,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,132.181750,0.86500,103.6,1.07,2218.0,6173.0,4.447,1.041,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,135.993300,3.07800,76.7,1.05,1266.0,6469.0,4.385,1.193,297.00977,47.121021

In [56]:
# rename columns
# detail column expanations will be included, but for now please refer to https://exoplanetarchive.ipac.caltech.edu/docs/API_kepcandidate_columns.html
df.rename(columns={"rowid":"id", "kepid":"Kepler id", "kepoi_name":"KOI Name", "Kepler_name":"Kepler Name", "koi_disposition":"Exoplanet Archive Disposition",
                  "koi_pdisposition":"Disposition Using Kepler Data", "koi_score":"Confidence", "koi_fpflag_nt":"Not Transit Like", "koi_fpflag_ss":"Stellar Eclipse",
                  "koi_fpflag_co":"Centroid Offset", "koi_fpflag_ec":"Contamination", "koi_period":"Orbital Period (days)", "koi_time0bk":"Transit Epoch",
                  "koi_duration":"Transit Duration (hours)", "koi_depth":"Transit Depth (parts per million)", "koi_prad":"Planetary Radius (Earth radii)",
                  "koi_teq":"Equilibrium Temperature (Kelvin)", "koi_steff":"Stellar Effective Temperature (Kelvin)", "koi_slogg":"Stellar Surface Gravity (log10(cm s-2)",
                  "koi_srad":"Stellar Radius (solar radii)", "ra":"Right Ascension", "dec":"Declination"}, inplace=True)
df

,id,Kepler id,KOI Name,kepler_name,Exoplanet Archive Disposition,Disposition Using Kepler Data,Confidence,Not Transit Like,Stellar Eclipse,Centroid Offset,...,Transit Epoch,Transit Duration (hours),Transit Depth (parts per million),Planetary Radius (Earth radii),Equilibrium Temperature (Kelvin),Stellar Effective Temperature (Kelvin),Stellar Surface Gravity (log10(cm s-2),Stellar Radius (solar radii),Right Ascension,Declination
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,170.538750,2.95750,615.8,2.26,793.0,5455.0,4.467,0.927,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,162.513840,4.50700,874.8,2.83,443.0,5455.0,4.467,0.927,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,175.850252,1.78220,10829.0,14.60,638.0,5853.0,4.544,0.868,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,170.307565,2.40641,8079.2,33.46,1395.0,5805.0,4.564,0.791,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,171.595550,1.65450,603.3,2.75,1406.0,6031.0,4.438,1.046,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,132.016100,4.80600,87.7,1.11,929.0,5638.0,4.296,1.088,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,131.705093,3.22210,1579.2,29.35,2088.0,5638.0,4.529,0.903,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,133.001270,3.11400,48.5,0.72,1608.0,6119.0,4.444,1.031,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,132.181750,0.86500,103.6,1.07,2218.0,6173.0,4.447,1.041,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,135.993300,3.07800,76.7,1.05,1266.0,6469.0,4.385,1.193,297.00977,47.121021

## Data Transforming

In [57]:
# "Not Transit Like", "Stellar Eclipse", "Centroid Offset", "Contamination" flags are left as 0 or 1 for now. I may turn them into true or false later
# "Transit Epoch" is the time of the center of the first detected transit event in Barycentric Julian Day(BJD) offseted by 2454833.0 days
# The offset is corresponded to Noon, Jan 1st, 2009 UTC
# BJD + 2454833.0 days + Transit Epoch = Noon, Jan 1st, 2009 UTC + Transit Epoch = Time of the center of the first detected transit event
arr = []
# Couldn't think of a more efficient way
for index, value in df["Transit Epoch"].items():
    arr.append(pd.Timestamp("Jan 1 2009 12:00 UTC") + pd.DateOffset(days=value))
df.insert(13, "Time of First Transit Event", arr)
df

,id,Kepler id,KOI Name,kepler_name,Exoplanet Archive Disposition,Disposition Using Kepler Data,Confidence,Not Transit Like,Stellar Eclipse,Centroid Offset,...,Time of First Transit Event,Transit Duration (hours),Transit Depth (parts per million),Planetary Radius (Earth radii),Equilibrium Temperature (Kelvin),Stellar Effective Temperature (Kelvin),Stellar Surface Gravity (log10(cm s-2),Stellar Radius (solar radii),Right Ascension,Declination
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,2009-06-21 00:55:48+00:00,2.95750,615.8,2.26,793.0,5455.0,4.467,0.927,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,2009-06-13 00:19:55.776000+00:00,4.50700,874.8,2.83,443.0,5455.0,4.467,0.927,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,2009-06-26 08:24:21.772800+00:00,1.78220,10829.0,14.60,638.0,5853.0,4.544,0.868,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,2009-06-20 19:22:53.616000+00:00,2.40641,8079.2,33.46,1395.0,5805.0,4.564,0.791,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,2009-06-22 02:17:35.520000+00:00,1.65450,603.3,2.75,1406.0,6031.0,4.438,1.046,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,2009-05-13 12:23:11.040000+00:00,4.80600,87.7,1.11,929.0,5638.0,4.296,1.088,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,2009-05-13 04:55:20.035200+00:00,3.22210,1579.2,29.35,2088.0,5638.0,4.529,0.903,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,2009-05-14 12:01:49.728000+00:00,3.11400,48.5,0.72,1608.0,6119.0,4.444,1.031,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,2009-05-13 16:21:43.200000+00:00,0.86500,103.6,1.07,2218.0,6173.0,4.447,1.041,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,2009-05-17 11:50:21.120000+00:00,3.07800,76.7,1.05,1266.0,6469.0,4.385,1.193,297.00977,47.121021

In [58]:
# Because Earth is not perfectly round, neither are the exoplanets, this is in no way accurate
# this new column only serves as visual aid, because radius in km is more relatable
arr = []
EARTH_RADIUS = 6371    # using 6371km as Earth radius
for index, value in df["Planetary Radius (Earth radii)"].items():
    arr.append(value * EARTH_RADIUS)
df.insert(17, "Planetary Radius (km)", arr)
df

,id,Kepler id,KOI Name,kepler_name,Exoplanet Archive Disposition,Disposition Using Kepler Data,Confidence,Not Transit Like,Stellar Eclipse,Centroid Offset,...,Transit Duration (hours),Transit Depth (parts per million),Planetary Radius (Earth radii),Planetary Radius (km),Equilibrium Temperature (Kelvin),Stellar Effective Temperature (Kelvin),Stellar Surface Gravity (log10(cm s-2),Stellar Radius (solar radii),Right Ascension,Declination
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,2.95750,615.8,2.26,14398.46,793.0,5455.0,4.467,0.927,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,4.50700,874.8,2.83,18029.93,443.0,5455.0,4.467,0.927,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,1.78220,10829.0,14.60,93016.60,638.0,5853.0,4.544,0.868,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,2.40641,8079.2,33.46,213173.66,1395.0,5805.0,4.564,0.791,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,1.65450,603.3,2.75,17520.25,1406.0,6031.0,4.438,1.046,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,4.80600,87.7,1.11,7071.81,929.0,5638.0,4.296,1.088,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,3.22210,1579.2,29.35,186988.85,2088.0,5638.0,4.529,0.903,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,3.11400,48.5,0.72,4587.12,1608.0,6119.0,4.444,1.031,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,0.86500,103.6,1.07,6816.97,2218.0,6173.0,4.447,1.041,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,3.07800,76.7,1.05,6689.55,1266.0,6469.0,4.385,1.193,297.00977,47.121021

In [59]:
# Stellar surface gravity is better in m/s^2
# log10(x) = value
# x = 10^value
# cm/s^2 / 100 = m/s^2
arr = []
for index, value in df["Stellar Surface Gravity (log10(cm s-2)"].items():
    arr.append(math.pow(10, value) / 100)
df.insert(21, "Stellar Surface Gravity (m/s^2)", arr)
df

,id,Kepler id,KOI Name,kepler_name,Exoplanet Archive Disposition,Disposition Using Kepler Data,Confidence,Not Transit Like,Stellar Eclipse,Centroid Offset,...,Transit Depth (parts per million),Planetary Radius (Earth radii),Planetary Radius (km),Equilibrium Temperature (Kelvin),Stellar Effective Temperature (Kelvin),Stellar Surface Gravity (log10(cm s-2),Stellar Surface Gravity (m/s^2),Stellar Radius (solar radii),Right Ascension,Declination
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,615.8,2.26,14398.46,793.0,5455.0,4.467,293.089325,0.927,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,874.8,2.83,18029.93,443.0,5455.0,4.467,293.089325,0.927,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,10829.0,14.60,93016.60,638.0,5853.0,4.544,349.945167,0.868,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,8079.2,33.46,213173.66,1395.0,5805.0,4.564,366.437575,0.791,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,603.3,2.75,17520.25,1406.0,6031.0,4.438,274.157417,1.046,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,87.7,1.11,7071.81,929.0,5638.0,4.296,197.696964,1.088,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,1579.2,29.35,186988.85,2088.0,5638.0,4.529,338.064836,0.903,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,48.5,0.72,4587.12,1608.0,6119.0,4.444,277.971327,1.031,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,103.6,1.07,6816.97,2218.0,6173.0,4.447,279.898132,1.041,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,76.7,1.05,6689.55,1266.0,6469.0,4.385,242.661010,1.193,297.00977,47.121021

In [60]:
# Stellar Radius in km is only an aid in relatablity
SUN_RADIUS = 696340
arr = []
for index, value in df["Stellar Radius (solar radii)"].items():
    arr.append(value * SUN_RADIUS)
df.insert(23, "Stellar Radius (km)", arr)
df

,id,Kepler id,KOI Name,kepler_name,Exoplanet Archive Disposition,Disposition Using Kepler Data,Confidence,Not Transit Like,Stellar Eclipse,Centroid Offset,...,Planetary Radius (Earth radii),Planetary Radius (km),Equilibrium Temperature (Kelvin),Stellar Effective Temperature (Kelvin),Stellar Surface Gravity (log10(cm s-2),Stellar Surface Gravity (m/s^2),Stellar Radius (solar radii),Stellar Radius (km),Right Ascension,Declination
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,2.26,14398.46,793.0,5455.0,4.467,293.089325,0.927,645507.18,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,2.83,18029.93,443.0,5455.0,4.467,293.089325,0.927,645507.18,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,14.60,93016.60,638.0,5853.0,4.544,349.945167,0.868,604423.12,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,33.46,213173.66,1395.0,5805.0,4.564,366.437575,0.791,550804.94,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,2.75,17520.25,1406.0,6031.0,4.438,274.157417,1.046,728371.64,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,1.11,7071.81,929.0,5638.0,4.296,197.696964,1.088,757617.92,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,29.35,186988.85,2088.0,5638.0,4.529,338.064836,0.903,628795.02,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,0.72,4587.12,1608.0,6119.0,4.444,277.971327,1.031,717926.54,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,1.07,6816.97,2218.0,6173.0,4.447,279.898132,1.041,724889.94,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,1.05,6689.55,1266.0,6469.0,4.385,242.661010,1.193,830733.62,297.00977,47.121021

In [61]:
# Mass of the star is also in no way accurate, because it is based on Stellar Radius in km
# g = (G*M)/r^2
# M = (g*r^2)/G
GRAVITIONAL_CONSTANT = 6.67408 * math.pow(10, -11)
arr = []
r = df["Stellar Radius (km)"]
g = df["Stellar Surface Gravity (m/s^2)"]
size = df.shape[0]
for i in range(0, size):
    arr.append((g[i] * math.pow(r[i] * 1000, 2)) / GRAVITIONAL_CONSTANT)
df.insert(24, "Mass of the Star (kg)", arr)
df

,id,Kepler id,KOI Name,kepler_name,Exoplanet Archive Disposition,Disposition Using Kepler Data,Confidence,Not Transit Like,Stellar Eclipse,Centroid Offset,...,Planetary Radius (km),Equilibrium Temperature (Kelvin),Stellar Effective Temperature (Kelvin),Stellar Surface Gravity (log10(cm s-2),Stellar Surface Gravity (m/s^2),Stellar Radius (solar radii),Stellar Radius (km),Mass of the Star (kg),Right Ascension,Declination
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,14398.46,793.0,5455.0,4.467,293.089325,0.927,645507.18,1.829830e+30,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,18029.93,443.0,5455.0,4.467,293.089325,0.927,645507.18,1.829830e+30,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,93016.60,638.0,5853.0,4.544,349.945167,0.868,604423.12,1.915538e+30,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,213173.66,1395.0,5805.0,4.564,366.437575,0.791,550804.94,1.665729e+30,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,17520.25,1406.0,6031.0,4.438,274.157417,1.046,728371.64,2.179288e+30,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,7071.81,929.0,5638.0,4.296,197.696964,1.088,757617.92,1.700235e+30,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,186988.85,2088.0,5638.0,4.529,338.064836,0.903,628795.02,2.002750e+30,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,4587.12,1608.0,6119.0,4.444,277.971327,1.031,717926.54,2.146686e+30,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,6816.97,2218.0,6173.0,4.447,279.898132,1.041,724889.94,2.203701e+30,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,6689.55,1266.0,6469.0,4.385,242.661010,1.193,830733.62,2.509182e+30,297.00977,47.121021

In [62]:
df.to_csv("../data/processed/initial_clean_up.csv", index=False)